/.settings
/bin
*/target/*
/logs
*/out/
*.iml
.project
.classpath
.idea/
.class
*.class
*.log

quark-admin/src/main/resources/rebel.xml
quark-admin/src/main/resources/rebel-remote.xml
quark-common/src/main/resources/rebel.xml
quark-common/src/main/resources/rebel-remote.xml
quark-chat/src/main/resources/rebel.xml
quark-chat/src/main/resources/rebel-remote.xml
quark-portal/src/main/resources/rebel.xml
quark-portal/src/main/resources/rebel-remote.xml
quark-rest/src/main/resources/rebel.xml
quark-rest/src/main/resources/rebel-remote.xml
quark-admin/.rebel.xml.bak
quark-common/.rebel.xml.bak
quark-chat/.rebel.xml.bak
quark-portal/.rebel.xml.bak
quark-rest/.rebel.xml.bak
